#info .label, #peers .label, #network label {
  clear: both;
  width: 200px;
  float: left;
}

#info .label2 {
  padding-left: 10px;
  margin-right: -10px;
}

#info .value, #peers .value, #network span {
  float: left;
}

#peers .label {
  width: 150px;
}

#network {
  padding-top: 20px;
}

.tab {
  margin: 0 5px;
  float: left;
  cursor: pointer;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 3px;
}

.tab-content {
  display: none;
  clear: both;
  padding: 5px;
}

.tab-content.active {
  display: block;
}

.tab.active {
  background-color: lightsteelblue;
}

#info h3 {
  clear: both;
  margin: 5px 0 ;
  float: left;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  height: 100%
}

line {
  stroke-opacity:0.7;
}

svg {
    margin: 50px auto;
    display: block;
    border: 1px solid lightgray;
}

.col {
  display: table-cell;
  overflow: auto;
  vertical-align: top;
  border: 1px solid lightgray;
  border-radius: 8px;
  padding: 5px;
}

.peer-wrapper {
  display: flex;
}

.peers {
  overflow: auto;
  flex: 1;
  margin-right: 5px;
}

.peer-detail {
  width: 320px;
  min-width: 320px;
}

.v75 {
  height: 75vh;
}

.newrow {
  clear: both;
}

#peers label {
  width: 150px;
}


.console {
    border: 1px solid lightgray;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    width: 50%
  }
  
  .console-input {
  
  }
  
  #console-command {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    width: 50%;
    border: 1px solid lightgray;
  }
  
  .console-wrapper {
    position: absolute;
    top: 40px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    overflow: hidden;
  }
  
.selected-peer {
  background-color: yellow;
}

.peer {
  cursor: pointer;
}